/* Variables */

:root {
  --c-background: #ddddde;

  --c-primary-1: #5dbae9;
  --c-primary-2: #368ac4;
  --c-primary-3: #617d98;
  --c-primary-4: #063251;

  --c-secondary-1: #f3f4f6;
  --c-secondary-2: #d3d4d6;
  --c-secondary-3: #ddddde;
  --c-secondary-4: #ffffff;
}
