/* Variables */

:root {
  --color-blue-lightest: #5DBAE9;
  --color-blue-light: #2481C4;
  --color-blue-medium: #368ac4;
  --color-blue-dark: #617D98;
  --color-blue-darker: #063251;

  --color-grey-lightest: #f3f4f6;
  --color-grey-light: #D3D4D6;
  --color-grey-medium: #ddddde;
  --color-grey-dark: #c9c9c9;
}
