.button {
  display: inline-block;
  min-width: 110px;
  min-height: 35px;
  padding: 10px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 14px;
  color: #ffffff;
  background: var(--color-blue-medium);
  transition: background .2s ease;
}

.button:hover {
  background: var(--color-blue-lightest);
}

.button:active {
  background: var(--color-blue-darker);
}
