.label {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 2px;
  color: var(--c-text-2);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content;
  align-items: center;
  gap: 12px;
}

.input {
  height: 30px;
  max-width: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 14px;
  border-radius: 4px;
  padding: 0 5px;
  background: var(--c-gray-4);
  color: var(--c-text-2);
  border: 0;
}
