/* App styles */

.home {
  padding: 80px 10px 0;
  margin: 0 auto;
  max-width: 880px;
}

@media (max-width: 550px) {
  .home {
    padding-top: 30px;
  }
}

/* Empty */

.empty {
  color: #617D98;
  text-align: center;
  font-size: 50px;
  line-height: 30px;
}
