/* App styles */

.app {
  padding: 80px 10px 0;
  margin: 0 auto;
  max-width: 880px;
}

@media (max-width: 550px) {
  .app {
    padding-top: 30px;
  }
}

/* Form */

.form {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  grid-gap: 12px;

  margin-top: 31px;
}

@media (max-width: 362px) {
  .form {
    grid-auto-flow: row;
  }
}

/* Empty */

.empty {
  color: #617D98;
  text-align: center;
  font-size: 50px;
  line-height: 30px;
}
