.title {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  color: var(--c-text-2);
  text-align: center;
}

@media (max-width: 550px) {
  .title {
    font-size: 25px;
  }
}
