:root {
  --title-color: #063251;
  --main-text-color: #617D98;
  --button-bgcolor: #49A6E9;
  --button-bgcolor-hover: #5DBAE9;
  --button-bgcolor-active: #2481C4;
  --button-bgcolor-disable: #B8B8B8, 90%;
}

.loripsum {
  padding: 0 10px;
  margin: 80px auto 0;
  max-width: 880px;
  &__title {
    text-align: center;
    color: var(--title-color);
  }
  &__button {
    font-size: 20px;
    line-height: 14px;
    color: #FFFFFF;

    background: var(--button-bgcolor);
    transition: background .2s ease;
    &:hover {
      background: var(--button-bgcolor-hover)
    }
    &:active {
      background: var(--button-bgcolor-active);
    }
  }
  &__form {
    label {
      color: var(--title-color);
    }
    input {
      color: var(--title-color)
    }
  }
  &__output {
    padding: 32px;
    height: 557px;
    overflow-y: auto;
    margin-top: 53px;
  }
  &__paragraph {
    color: var(--main-text-color);
    margin-bottom: 32px;
    text-align: center;
  }
}