:root {
  --title-color: #063251;
  --main-text-color: #617D98;
  --button-bgcolor: #49A6E9;
  --button-bgcolor-hover: #5DBAE9;
  --button-bgcolor-active: #2481C4;
}

.loripsum {
  padding: 0 10px;
  margin: 80px auto 0;
  max-width: 880px;
  @media (max-width: 550px) {
    margin-top: 30px;
  }
}

