.output {
  background: var(--c-secondary-4);
  box-shadow: 4px 4px 23px -3px var(--c-secondary-2);
  border-radius: 4px;
  padding: 37px;
  margin-top: 24px;
  height: 550px;
  overflow-y: auto;
  display: grid;
  gap: 32px;
  justify-content: center;
  position: relative;
}

@media (max-width: 666px) {
  .output {
    height: 400px;
    margin-top: 15px;
    padding: 20px;
  }
}
